.man {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
}
.sec {
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
}
.sec * {
  margin: 5px 0;
  font-family: roboto-r;
  font-size: 20px;
}
.sec input {
  padding: 10px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  width: 100%;
}
.sec span {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sec input[type="submit"] {
  width: 70%;
  background-color: #004c97;
  color: #fff;
}
.sec input:focus {
  outline: none;
}
.sec img {
  width: 100%;
}
.sec div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sec div * {
  width: 47.5%;
}
.sec p {
  font-family: roboto-b;
  width: 100%;
  width: 100%;
  color: #004c97;
}
a {
  text-decoration: none;
  color: #004c97;
  font-family: roboto-b;
  text-decoration: underline;
}
.p {
  text-align: center;
}
.foot {
  margin-top: 20px;
  height: 10vh;
  width: 100%;
  display: flex;
  color: #004c97;
  justify-content: center;
  flex-wrap: wrap;
}
.foot div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.foot div p {
  width: 30%;
  font-family: roboto-r;
  text-align: center;
}
.foot .refe {
  width: 100%;
  text-align: center;
  font-family: roboto-l;
  color: #7d7979;
}
.olvidar {
  display: block;
  width: 100%;
  color: #4484c4;
  font-family: roboto-r;
  text-align: right;
}
