@import "https://www.nerdfonts.com/assets/css/webfont.css";
.ruta {
  width: 100%;
  display: flex;
  padding: 20px 0;
}
.main {
  width: 100%;
  min-height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  box-sizing: content-box;
  background-color: #d4d4d4;
}
.info {
  width: 80%;
  background-color: #fff;
  margin: auto;
  box-shadow: 0px 0px 1px #333;
}
.a1 {
  text-decoration: none;
  color: #004c97;
  font-size: 25px;
  font-family: roboto-b;
}
.ruta p {
  font-family: roboto-b;
  font-size: 25px;
  margin: 0 10px;
}
.a2 {
  text-decoration: none;
  font-size: 25px;
  font-family: roboto-b;
  color: #000;
}
.info {
  padding: 0 5%;
  min-height: 75vh;
}
.form {
  width: 100%;
  height: 100%;
  padding: 0 15%;
}
.tarjetas {
  width: 100%;
  height: 10vh;
  margin-bottom: 20px;
}
.tarjetas img {
  height: 100%;
  margin-right: 20px;
}
.for {
  width: 100%;
  background-color: #d9d9d9;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}
input {
  margin: 15px 0;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 11px 10px;
  font-family: roboto-r;
}
i {
  font-size: 40px;
  color: #807a7a;
}
.for span {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.fecha {
  width: calc((100% - 250px) / 2);
  text-align: center;
}
.for span * {
  margin-right: 10px;
}
.for input:focus {
  outline: none;
}
.for input[type="number"]::-webkit-inner-spin-button,
.for input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.num,
.for input[type="text"] {
  width: 100%;
}
.contra {
  width: calc((100% - 246px));
}
.for p {
  color: #807a7a;
  font-family: roboto-b;
  margin: 15px 0;
  font-size: 20px;
}
.for input[type="submit"] {
  background-color: #004c97;
  color: #fff;
  width: 30%;
}
.boton {
  width: 100%;
  display: flex;
  justify-content: center;
}
.boton a{
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .a1,
  .a2 {
    font-size: 15px;
  }
  .ruta p {
    font-size: 15px;
  }
  .form {
    padding: 0 5%;
  }
  .uno {
    order: 1;
    width: 100%;
  }
  i {
    order: 2;
  }
  .contra {
    order: 2;
    margin-right: 0;
    width: calc(100% - 50px);
  }
  .fecha {
    order: 2;
    margin: 5px;
    width: calc((100% - 70px) / 2);
  }
}
@media only screen and (max-width: 600px) {
  .info{
    width: 100%;
  }
}