.info .imagen {
  width: 100%;
  height: 35vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)),
    url(/src/images/mar.jpg);
  box-shadow: inset 1100px 4px 250px 250px rgba(0, 0, 0, 0.25);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main {
  width: 100%;
  min-height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  box-sizing: content-box;
  background-color: #d4d4d4;
}
.info {
  width: 80%;
  background-color: #fff;
  margin: auto;
  box-shadow: 0px 0px 1px #333;
}
.info .imagen img {
  height: 60%;
  display: block;
}
.info .imagen p {
  display: block;
  width: 100%;
  padding: 0 15%;
  text-align: center;
  color: #fff;
  font-family: roboto-b;
  font-size: 30px;
}
.info .caribe {
  width: 100%;
  display: flex;
  padding: 20px;
  padding-left: 0px;
  background-color: #055868;
}
.info .caribe img {
  width: 40%;
  position: relative;
}
.info .caribe div {
  width: 70%;
  padding-left: 10px;
  margin: 20px;
  margin-left: 0;
  outline: 5px solid #2caae2;
  padding: 20px;
}
.info .caribe div h3 {
  font-family: roboto-b;
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.info .caribe div p {
  font-family: roboto-r;
  color: #fff;
  font-size: 20px;
  text-align: justify;
}
.info h2 {
  font-family: roboto-b;
  font-size: 30px;
  margin: 20px 0;
  color: #004c97;
  text-align: center;
  text-transform: uppercase;
}
.seccion {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  background-color: #fff;
}
.seccion div {
  width: 50%;
  padding: 20px;
}
.seccion div h2 {
  color: #2caae2;
  font-family: roboto-b;
  font-size: 30px;
  margin-bottom: 20px;
}
.seccion div p {
  text-align: justify;
  font-size: 19px;
  font-family: roboto-r;
  margin-bottom: 20px;
}
.seccion div span {
  width: 100%;
  display: flex;
  justify-content: center;
}
.seccion div span button {
  border: none;
  width: 60%;
  background-color: #2caae2;
  padding: 10px 0;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 20px;
}
.seccion figure {
  width: 50%;
  display: flex;
}
.seccion figure img {
  width: 100%;
}
.info a:hover {
  cursor: default;
}
.info button:hover {
  cursor: pointer;
}
/*Cambiar formatos*/
.azul {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;
  background-color: #2caae2;

}
.azul div{
  order: 1;
}
.azul figure{
  order: 2;
}
.azul div h2 {
  color: #fff;
}
.azul div p {
  text-align: justify;
  color: #fff;
}
.azul div span button {
  background-color: #fff;
  color: #2caae2;
}
.azul figure {
  background-color: #fff;
}
@media only screen and (max-width: 1000px) {
  .seleccion {
    flex-wrap: nowrap;
  }
  .seccion div {
    width: 100%;
  }
  .seccion figure {
    width: 100%;
  }
  .introduccion {
    flex-wrap: wrap;
  }
  .introduccion p {
    width: 100%;
    margin-bottom: 20px;
  }
  .introduccion img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .info{
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .info section {
    flex-wrap: wrap;
  }
  .info .caribe {
    padding: 20px;
  }
  .info .caribe div {
    width: 100%;
    margin: 0;
  }
  .info .caribe img {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .info{
    width: 100%;
  }
}