@import "https://www.nerdfonts.com/assets/css/webfont.css";
.man {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
}
.sec {
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}
.sec * {
  font-family: roboto-r;
  font-size: 20px;
}
.info a:hover {
  cursor: default;
}
.info button:hover {
  cursor: pointer;
}
.sec input {
  padding: 10px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  width: 100%;
  z-index: 1;
  position: relative;
  margin: 0;
}
.sec .submit {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.sec input[type="submit"] {
  width: 70%;
  background-color: #004c97;
  color: #fff;
}
.sec input[type="submit"]:hover {
  background-color: #002a52;
  font-family: roboto-b;
  color: #fff;
  cursor: pointer;
}
.sec input:focus {
  outline: none;
}
.img{
  width: 100%;
  display: flex;
  justify-content: center;
}
.sec img {
  width: 80%;
}
.sec div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sec div span {
  width: 47.5%;
}
.sec p {
  font-family: roboto-b;
  margin: 15px 0;
  width: 100%;
  width: 100%;
  color: #004c97;
}
a {
  text-decoration: none;
  color: #004c97;
  font-family: roboto-b;
  text-decoration: underline;
}
.p {
  text-align: center;
}
.foot {
  margin-top: 20px;
  height: 10vh;
  width: 100%;
  display: flex;
  color: #004c97;
  justify-content: center;
  flex-wrap: wrap;
}
.foot div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.foot div p {
  width: 30%;
  font-family: roboto-r;
  text-align: center;
}
.foot .refe {
  width: 100%;
  text-align: center;
  font-family: roboto-l;
  color: #7d7979;
}
.olvidar {
  display: block;
  width: 100%;
  color: #4484c4;
  font-family: roboto-r;
  text-align: right;
}
.submit i{
  position: relative;
  font-size: 30px;
  width: 0;
  right: 40px;
  top:7px;
  z-index: 10;
  color: #002950;
}
.submit i:hover{
  cursor: pointer;
}
.error{
  width: 100%;
  color: #f00;
  position: relative;
  top: -15px;
  z-index: 0;
  background-color: #FFC4C4;
  padding: 20px 10px 5px;
  margin-bottom: -10px;
  border-radius: 0 0 10px 10px;
}
.ocultar{
  display: none;
}
.man2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sec2 {
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
}
.sec2 input {
  padding: 10px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border: none;
  width: 100%;
  z-index: 1;
  position: relative;
  margin: 0;
}
.sec2 .submit {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.sec2 .submit i{
  color: #131a22;
}
.sec2 input[type="submit"] {
  width: 70%;
  background-color: #131a22;
  color: #fff;
}
.sec2 input[type="submit"]:hover {
  background-color: #131a22;
  font-family: roboto-b;
  color: #fff;
  cursor: pointer;
}
.sec2 input:focus {
  outline: none;
}
.sec2 div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sec2 div span {
  width: 47.5%;
}
.sec2 p {
  font-family: roboto-b;
  margin: 15px 0;
  width: 100%;
  width: 100%;
  color: #131a22;
}