html{
    width: 100%;
    height: 100%;
}
.principal{
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
}
.navegacion{
    background-color: #131a22;
    width: 18.75%;
    height: 100%;
    padding: 20px 0;
    min-width: 200px;
    min-height: 100vh;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.triangleleft {
    position: absolute;
    right: 0px;
    margin-left: 10px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #0000;
  }
.head{
    width: 100%;
    height: 100%;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
}
.head figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
    height: 160px;
}
.head figcaption{
    text-align: center;
    color:#fff;
    width: 100%;
    font-size: 20px;
    font-family:roboto-l;
}
.head figure img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}
.head i{
    color: #fff;
    display: inline;
    font-size: 25px;
}
.head .opciones2{
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    font-family:roboto-l;
}
.contenido{
    position: relative;
    height: calc(100vh - 200px);
    min-height: calc(100% - 200px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.contenido span{
    width: 100%;
    padding: 0 0 0 35px;
    height: calc(100% / 9);
    display: flex;
    justify-content: left;
    align-items: center;
    cursor:pointer;
}
.contenido span:hover{
    background-color: #fff1;
    transition-property: all;
    transition-duration: .3s;
}
.contenido span:hover > .triangleleft{
    border-right: 20px solid #fff;
    transition-property: all;
    transition-duration: .3s;
}
.contenido span:hover > p{
    font-family: roboto-r;
}
.navegacion figure{
    width: 100%;
}
.navegacion .figure img{
    width: 90%;
}
.contenedores{
    position: relative;
    width: 91.25vw;
    overflow-x: auto;
}
.contenedores .titulo{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#puntero{
    cursor: pointer;
}
.titulo h1{
    font-family: roboto-b;
    display:inline;
    text-align: center;
    font-size: 35px;
}
.dashboard{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
#mostrar{
    display: none;
}
hr{
    border: none;
    outline: 0.1px solid #fff1;
    width: 90%;
    margin: auto;
}
/**/
.borroso{
    position: fixed;
    z-index: 350;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #3a3a3a9f;
  }
  .span aside .contenedor span{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    background-color: #eee;
  }
  .slider{
    width: 500px;
    min-height: 300px;
    max-height: 500px;
    position: fixed;
    z-index: 400;
    box-shadow: 0 8px 32px 0 #000;
    top: 50%;
    border-radius: 20px;
    overflow:hidden;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
  }
  .slider span{
    width: 400%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .carril section{
    width: calc(100% / 4);
    height: 100%;
  }
  .carril img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
@media only screen and (max-width: 600px) {
    .slider{
        width: 300px;
        min-height: 210px;
        max-height: 400px;
    }
    .triangleleft{
        border:none;
    }
    .contenido span{
        padding: 0 0 0 10px;
    }
    .contenido span:hover > .triangleleft{
        border:none;
    }
    .contenedores{
        width: 100%;
    }
    .ocultar{
        position: absolute;
        left: -300px;
        z-index: 20;
        transition: all 1s;
    }
    .mostrar{
        position: absolute;
        left: 0;
		transition: all 1s;
        z-index: 200;
    }
    #mostrar{
        position: absolute;
        left: 5%;
        top: calc((15% - 15px)/2);
        font-size: 30px;
        display: block;
        z-index: 10;
        font-weight: bold;
        cursor:pointer;
    }
}
@media only screen and (max-width: 360px) {
    .slider{
        width: 250px;
        min-height: 150px;
        max-height: 300px;
    }
}