@import "https://www.nerdfonts.com/assets/css/webfont.css";
.main {
  width: 100%;
  min-height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  box-sizing: content-box;
  background-color: #d4d4d4;
}
.info {
  width: 80%;
  background-color: #fff;
  margin: auto;
  box-shadow: 0px 0px 1px #333;
}
/*Ruta*/
.info a:hover {
  cursor: default;
}
.info button:hover {
  cursor: pointer;
}
.ruta {
  width: 100%;
  display: flex;
  padding: 10px 0;
}
.a1 {
  text-decoration: none;
  color: #004c97;
  font-size: 25px;
  font-family: roboto-b;
}
.ruta p {
  font-family: roboto-b;
  font-size: 25px;
  margin: 0 10px;
}
.a2 {
  text-decoration: none;
  font-size: 25px;
  font-family: roboto-b;
  color: #000;
}
/*Menu de detalles*/
.info {
  padding: 0 50px;
}
.info .span {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
}
.span aside{
  width: 40%;
  min-height: 400px;
}
.span aside figure {
  width: 100%;
  height: 50%;
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.span aside figure img{
  width: 90%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #000c;
  transition: box-shadow 0.3s ease;
  transition-property: all;
  transition-duration: .3s;
}
.span aside figure img:hover{
  box-shadow: 0 4px 8px 0 #000;
}
.span aside figure img:active{
  transition-property: all;
  transition-duration: .3s;
  transform: scale(1.3);
}
.contenedor{
  width: 100%;
  height: 50%;
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  padding: 20px;
}
.span .div {
  width: 50%;
  padding: 30px;
  padding-bottom: 30px;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.span h1 {
  font-size: 30px;
  font-family: roboto-b;
  margin-bottom: 20px;
  text-align: center;
}
.span .p {
  font-size: 20px;
  font-family: roboto-r;
  text-align: justify;
  margin-bottom: 20px;
}
.span ul {
  padding-left: 30px;
  margin-bottom: 20px;
}
.span li {
  font-size: 20px;
  font-family: roboto-l;
}
.span .orden {
  width: 100%;
  padding: 10px;
}
.span .orden i {
  font-size: 30px;
}
.Personas {
  font-size: 20px;
  font-family: roboto-r;
}
.span span {
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 30px;
}
.p2 {
  font-family: roboto-b;
  font-size: 30px;
  color: #004c97;
}
#boton {
  width: 100%;
  display: flex;
  justify-content: center;
}
#boton button {
  width: 80%;
  padding: 15px 0;
  background-color: #004c97;
  border: none;
  border-radius: 10px;
}
#boton button i {
  color: #fff;
  font-size: 20px;
}
.div {
  border: 1px solid #004c97;
  border-radius: 20px;
  margin-bottom: 30px;
}
#boton a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}
/*Menu de imagenes*/
.borroso{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #3a3a3a9f;
}
.span aside .contenedor span{
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background-color: #eee;
}
.slider{
  width: 500px;
  height: 300px;
  position: fixed;
  z-index: 100;
  box-shadow: 0 8px 32px 0 #000;
  top: 50%;
  border-radius: 20px;
  overflow:hidden;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
}
.slider span{
  width: 400%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}
.carril section{
  width: calc(100% / 4);
  height: 100%;
}
.carril img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.izquierda, .derecha{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 30px;
  top:50%;
  z-index: 200;
  color: #fff;
  transform: translate(0, -50%);
}
.izquierda:hover{
  background-color: #0005;
  color: #fff;
}
.derecha{
  right: 0px;
}
.derecha:hover{
  background-color: #0005;
  color: #fff;
}
@media only screen and (max-width: 950px) {
  .span {
    flex-wrap: wrap;
  }
  .span aside {
    width: 100%;
  }
  .span aside figure img{
    height: 100%;
  }
  .span .div {
    width: 100%;
  }
  .a1,
  .a2 {
    font-size: 20px;
  }
  .ruta p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .slider{
    width: 350px;
    height: 210px;
  }
  .info{
    width: 100%;
  }
  .span .p{
    font-size: 15px;
  }
  .info {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 360px) {
  .slider{
    width: 250px;
    height: 150px;
  }
  .ruta p{
    font-size: 13px;
  }
  .a1,.a2{
    font-size: 13px;
  }
}